[2013-12-03 07:11] davis9001 opened #1 "Can't install on Adobe Edge Code CC: "This extension requires a newer version of Edge Code.""
Getting that error message from the directory browser...

[2013-12-03 21:12] #1 closed, assigned to nobody

[2013-12-06 14:11] sander76 opened #2 "possibly a stupid question:"
Does it work alone or does it require bower to be installed ?

[2013-12-06 18:22] #2 closed, assigned to nobody

[2013-12-07 12:47] sander76 opened #3 "Error installing ..."
I get an "Error install" message when I try to install a package using your plugin.
I press "ctrl-shift-B", enter +d3js (it autocompletes) and enter.

Bottom left shows the error message "Error installing d3js".

I am not using a proxy.
I you need any more info from me, please let me know how I can provide you with it.

Sander.

[2013-12-09 17:13] Den-dp opened #4 "Can't install a specific version of a package"
For example:
+jquery#1.9.1

[2013-12-10 12:53] jorisroovers opened #5 "Packages installed in top level directory instead of selected directory"
When installing a package, it get's installed in the top level directory of the project and not in the currently selected directory.

I'm using Brackets 34.1 on Ubuntu 13.10.

[2013-12-11 13:02] #3 closed, assigned to nobody

[2013-12-17 00:51] njx opened #6 "Warn user if git isn't installed"
It looks like Bower requires git to be installed in order to install some (many?) packages. I added notes to the README and package description, but it would be good to actually detect this in the extension itself and warn the user if they try to install a package that requires git.

[2013-12-17 13:16] busykai opened #7 "Packaged version 0.1.2 is malformed"
Hi, it seems that version 0.1.2 was zipped incorrectly, it has structure

[code]

as a consequence Brackets cannot find the entry point.

[2013-12-18 21:30] #7 closed, assigned to nobody

[2014-01-31 20:28] peterflynn opened #8 "Remove _clearCachedData() hacks for Sprint 36+"
The calls to private `_clearCachedData()` APIs should no longer be necessary as of Sprint 36, where file changes are picked up automatically.

This should be true of the `ProjectManager.refreshFileTree()` call too.

[2014-02-12 23:48] ashmind opened #9 "Packages are not saved in bower.json"
I am not sure if I understand this correctly (I am not an expert on bower), but shouldn't the package list be saved into bower.json?

I suppose it would require some way to distinguish dev and normal dependencies.

[2014-02-13 10:22] applifactory opened #10 "Ignores .bowerrc"
Just wanted to change install directory, but it remains the default one.

[2014-03-11 02:37] njx opened #11 "Pick a different shortcut"
Need to pick a different shortcut before the multiselect stuff in cmv4 lands, since Ctrl-Shift-B is being used by Skip Next Match.

[2014-03-17 10:47] njx opened #12 "Show some feedback while initial package list is being loaded"
It's not obvious that it's actually doing anything.

[2014-07-14 10:31] kdmcguire opened #13 "Error installing Foundation package"
I'm trying to install Zurb's Foundation package, and getting an error every time. I have:

1. Installed Git from https://msysgit.github.io/
2. Restarted both Brackets first and then the machine
3. Created a directory first in case packages can only be added to a currently active project.

No luck! I'm not sure how to find out more info about the error for you, unfortunately.

[2014-10-02 20:07] JeffryBooher opened #14 "Key Assignment Error Notification"
I see this in the console when starting:

Cannot assign Ctrl-Shift-B to com.adobe.brackets.commands.bower.installFromBower. It is already assigned to cmd.skipCurrentMatch

[2014-10-21 18:45] le717 opened #15 "NativeFileSystem module is deprecated"
The Brackets `NativeFileSystem` module is deprecated and will be removed in the possibly very near future. You will want to update your unit tests to remedy this :)

See adobe/brackets#6127 and adobe/brackets#8751.

[2014-10-30 15:26] dangoor opened #16 "QuickOpen.basicMatchSort has moved in 1.0"
It is now `StringMatch.basicMatchSort`

[2014-11-05 15:16] #16 closed, assigned to nobody

[2014-11-05 15:16] #14 closed, assigned to nobody

[2014-11-05 15:17] #12 closed, assigned to nobody

[2014-11-07 16:21] awakekat opened #18 "Brackets 1.0 issues"
Mac Yosemite
Brackets 1.0
I have recorded screen capture of the behavior if you want it:
When using the bower plugin, I go to the menu and choose File > Install from Bower
The first time it works flawlessly. The second time the fuzzy search results popup starting from a $ entry showing the top results. Hitting ESC closes the bower search completely, so one must click in the top search bar area to

[2014-11-07 18:18] albertinad opened #19 "ProjectManager.refreshFileTree API has been updated on Brackets 1.0.0"
ProjectManager.refreshFileTree function does not return a promise in the new API. Needs to updated before uploaded to the registry.

[2014-11-09 02:45] #8 closed, assigned to albertinad

[2014-11-09 22:13] #18 closed, assigned to albertinad

[2014-11-19 13:42] #19 closed, assigned to albertinad

[2014-12-10 15:16] busykai opened #20 "Proxy support as per Brackets configuration"
Hi!

Brackets does allow you to configure proxy via [preferences](https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#preferences) for the editor itself (extension installation, registry access etc.). It would be nice if this preference was passed to bower to help folks behind the proxy being able to use this extension without configuring `.bowerrc`.

It may be reasonable for Brackets `prox

[2014-12-11 13:48] #20 closed, assigned to albertinad

[2014-12-12 13:14] albertinad opened #21 "Improve bower registry loading"
Loading the bower registry for the first time or when it's time to refresh it takes too long. It could use the default bower cache to show some results until the registry is fully load, so the user can browse while loading it.

[2014-12-18 20:59] #15 closed, assigned to nobody

[2014-12-26 20:55] #10 closed, assigned to albertinad

[2014-12-26 20:57] #5 closed, assigned to albertinad

[2014-12-27 05:11] sbruchmann opened #22 "Version 0.1.6: Missing resources"
Hello @njx and @albertinad,

one of you forgot to include the `assets/` and `template/` directories in the latest release (`0.1.6`).

[2014-12-27 08:11] #22 closed, assigned to nobody

[2014-12-27 08:16] #21 closed, assigned to albertinad

[2014-12-30 13:09] albertinad opened #23 "Hints for bower packages when adding dependencies in bower.json"
When manually editing bower.json by adding dependencies and devDependencies, show hints about available bower packages.

[2015-01-10 09:07] MrAshTonka opened #24 "Error with Bower"
Trying to install a package for my project but i get this errors every time i open Bower in Brackets, I have the latest copy of it as i only installed Brackets 2 days ago.

Uncaught TypeError: Cannot read property 'done' of null  -  QuickInstall.js:194
_search  -  QuickInstall.js:194
QuickNavigateDialog._filterCallback  -  /search/QuickOpen.js:635
(anonymous function)  -  /thirdparty/smart-auto-co

[2015-01-21 03:24] albertinad opened #25 "Basic support for bower.json file"
- Detect if the bower.json file exists for the current working directory (cwd)
- Create the bower.json file with the required data as the spec defines
- Delete the file if exists
- Support the basic workflow:
    - Install from production and development dependencies
    - Remove installed dependencies that were removed from bower.json

[2015-01-21 03:31] albertinad opened #26 "Save the package installed through Quick Open into the bower.json file"
Add a setting to specify if the package installed through Quick Install (Quick Open + search the bower registry and install) should be:
- saved into dependencies of the bower.json file
- not saved

Update the bower.json file if it's specified.

[2015-01-24 07:29] albertinad commented on #6
Hi @njx ! I implemented this validation when the extension initializes. It checks if Git is found at the system PATH, if not, it shows a warning message to the user. The implementation is already at the master branch and will be available in the next release. Feel free to take a look at it :)

I'm closing this issue.

[2015-01-24 07:29] #6 closed

[2015-01-25 18:53] #26 closed

[2015-01-25 19:25] albertinad opened #28 "Update Panel buttons with Icons"
Add icons for:
* Configuration
* Dependencies
* Extension Settings

[2015-01-25 21:06] navelpluisje commented on #28
@albertinad I'm currently working on this one. I'm using the octicons set.
![schermafbeelding 2015-01-25 om 22 05 24](https://cloud.githubusercontent.com/assets/1625221/5893288/55700346-a4de-11e4-8a4b-9637f57ceedf.png)

[2015-01-25 21:06] navelpluisje opened #29 "Option to view and remove installed packages"
Create a panel for listing and removing already installed packages

[2015-01-25 21:11] albertinad commented on #29
Installed packages can be displayed in the DependenciesView.

[2015-01-25 21:13] albertinad commented on #28
Awesome! I like those ones. Please add it to the html files for configuration and dependencies, not need for now the one for installing packages.

[2015-01-25 21:15] navelpluisje commented on #29
Why not showing both DependenciesView and ConfigurationView in one panel? They both do almost the same and I think it's pretty logical to have them together.
Create a InstalledPackagesView for the already installed packages.
Makes more sense to me.

[2015-01-25 21:17] albertinad commented on #29
Right now makes sense what you said, but I have planned t use the ConfigurationView to also display to populate a list with the configuration available and edit the file through the UI, instead of only open the .bowerrc file in the active editor.

[2015-01-25 21:20] navelpluisje commented on #29
Ok. But doesn't it make sense to do the same for json file also? And create an extra panel?

[2015-01-25 21:25] albertinad commented on #29
Yes, that's planned for the future, but that's ok if you want to implement this feature in an extra panel.
I will make a few changes:
* DependenciesView will be renamed to BowerJsonView, when it has the focus it will display some commands like install, update and remove at the main panel header.
Now it makes sense what it actually do and will do that panel.
Let's do the extra panel InstalledPackag

[2015-01-25 21:28] albertinad commented on #29
I'm changing the way PanelView handle its panel, so don't worry about some bad behavior when switching panels. It's under current development, in a few hours I will push those changes, since they are necessary  I'm doing it in the master branch, keep your fork in sync.

[2015-01-25 21:30] albertinad opened #30 "Edit .bowerrc file through the UI"
Edit the .bowerrc configuration through the Configuration panel.

[2015-01-25 21:30] albertinad opened #31 "Edit the bower.json file through the UI"
Edit the bower.json file in the panel view.

[2015-01-25 21:33] albertinad commented on #11
Hi @njx I will close this issue since the current command for the extension is "Ctrl+Alt+B". In the case of having problems with that command I will file another issue.

[2015-01-25 21:33] #11 closed

[2015-01-25 21:42] albertinad commented on #24
I @MrAshTonka , I took a look at this, I found the main cause of this bug. Nice catch! It will be fixed in the next release. I will keep you posted when it is done.
Thanks!

[2015-01-25 22:06] albertinad commented on #28
Solved in PR #32
Closing.

[2015-01-25 22:06] #28 closed

[2015-01-26 03:26] albertinad commented on #24
Fixed. It will be available in the next version of brackets-bower in a few days. The fix is already at master branch. Closing the issue, if the bug is replicated again, I will reopen it.
Thanks!

[2015-01-26 03:26] #24 closed

[2015-01-26 13:37] albertinad opened #33 "Update tests"
* Update current tests
* Create mocks and stubs instead of interacting directly with bower registry

[2015-01-26 17:47] njx commented on #11
Sounds good, and thanks for all your continued work on this.

[2015-01-26 17:50] njx commented on #6
Sounds good, thanks.

[2015-01-27 03:50] albertinad opened #35 "Show the bower panel when brackets loads if it was open before closing brackets"
Keep track of the current state of the bower panel (visible, hidden) to show it if it was opened before closing brackets.

[2015-01-27 04:06] albertinad commented on #35
Implemented and available at master branch.

[2015-01-27 04:06] #35 closed

[2015-01-27 04:16] albertinad commented on #25
Work in Progress: Update the UI to notify the user that a current command is active.

[2015-01-27 20:35] albertinad opened #36 "Listen to project changes to reload the information related to the new active project"
Brackets-bower holds old project information when changing project.
When changing the project to another, brackets-bower should reload the information about the new project.

[2015-01-28 04:39] #36 closed

[2015-01-31 04:34] albertinad opened #37 "Error Management"
Handle errors and support course of actions when a command fail or provides actions.

[2015-02-01 03:45] albertinad commented on #4
Hi @Den-dp I will close this issue since the in the next version we will support the bower.json file, so you could install an specific version of a package. I will create another issue specific for the feature that you are suggesting :)
Thanks!

[2015-02-01 03:45] #4 closed

[2015-02-01 03:46] albertinad opened #38 "Support searching for packages and specific versions"
Quick Install should support searching by name and package version also.
If the version is provided, install that version for the package.

Related to:  #4

[2015-02-01 03:56] albertinad opened #39 "Update extension information"
Hi @njx , I will update the extension title at the package.json from "Install from Bower" to "Brackets Bower", a more representative name for what the extension does, since the new version that I will upload to the registry has support for install and prune, and bower metadata files like .bowerrc and bower.json handling.
In future releases those features will be improved and new commands will be s

[2015-02-01 04:53] albertinad opened #40 "Add existent dependencies when creating bower.json file"
Check if there are dependencies previous installed and add them to the bower.json when it is created.

[2015-02-01 06:33] #25 closed

[2015-02-01 07:40] #40 closed

[2015-02-01 22:21] #39 closed

[2015-02-02 17:06] njx commented on #39
Perfect! You've really extended this in ways I hadn't even thought about.

[2015-02-02 17:14] njx commented on #39
Hey, at this point should we just make your repo the official fork? There really isn't any reason to have you push into this repo since you really own it at this point. You could change the repo link in the package.json, and update the README here to indicate that it's no longer the main repo.

[2015-02-02 17:14] njx commented on #39
(Oh - I guess the issues are still being maintained here, so maybe that's a reason to keep this alive.)

[2015-02-02 18:01] albertinad commented on #39
Thanks :D Yes, I can migrate the issues to my repo and then make it the official repo.

[2015-02-03 01:40] albertinad commented on #9
bower.json support is now available and also is configurable to save or not the package installed using Quick Search. The new version is available at the registry. Thanks!

[2015-02-03 01:40] #9 closed

[2015-02-03 01:42] albertinad commented on #13
Hi @kieranmcguire , Is this bug still reproducible with the new version 0.2.0 available at the registry? If the error persists, please click on Debug, Show Developers Tools and paste the content of the console here. Thanks!

[2015-02-03 12:28] albertinad opened #41 "Multiple bower.json in big projects support"
Look for bower.json files starting from the root current project.
Exclude folders like node_modules and bower_components.
Enable to change the current working directory (cwd) to the selected folder where the bower.json was found.
Run bower commands in that cwd.

[2015-02-03 12:35] albertinad opened #42 "Uninstall and update commands"
Implement uninstall and update bower commands.
Update installed packages view to support updating packages that have latest version.

[2015-02-22 06:00] aniforprez opened #43 "Filename is not appearing in the correct position"
The bower extension panel panel isn't placing the bower files' names in the proper location as seen in this screenshot:

![image](https://cloud.githubusercontent.com/assets/993132/6317645/17ac79a0-ba86-11e4-9aab-ee23c3025bef.png)

[2015-02-24 03:45] albertinad commented on #43
Hi @aniforprez I think that this could be related to some styles that are being replaced by other extensions. Could you please give me the extensions name that you have installed? Thanks!

[2015-02-24 18:49] aniforprez commented on #43
Of course!

* Advanced New File
* Angular Snippets
* Angular JS Code Hints
* AngularJS for Brackets
* Better quotes for Brackets
* Brackets Bower
* Brackets File Icons
* Brackets Git
* Brackets New Project Creator
* Brackets Outline List
* Brackets Snippets
* Code Folding
* CSSLint
* Documents Toolbar
* Emmet
* Extensions Rating
* File Tree Exclude
* FuncDocr
* Grunt for Brackets
* HTMLHint
* Inde

[2015-02-24 19:04] aniforprez commented on #43
A thousand apologies. I closed the issue by accident.

[2015-02-24 19:10] albertinad commented on #43
No problem! :) thanks! I will take a look at this.

[2015-02-25 03:17] albertinad commented on #43
The fix is ready, but not yet uploaded to the brackets registry. You can download the zip package related to the new version from here,
[https://github.com/njx/brackets-bower/releases/tag/v0.2.2](https://github.com/njx/brackets-bower/releases/tag/v0.2.2)
then drag it to the extension manager in brackets or decompress it to the brackets user folder extensions.
Thanks!

[2015-02-25 03:17] #43 closed

[2015-02-25 05:09] aniforprez commented on #43
Thanks for the fix!

[2015-02-25 17:50] #33 closed

[2015-02-25 20:03] albertinad commented on #39
Ni @njx ! I was thinking about making my fork the official repo. What do you think about transfer this repo to me, in that way we keep the issues and PR in process, the users that forked this repo will only need to update the remote url, and any change that I make will be counted as a contribution on github, that will not happen if I work only on my fork. As part of the transfer, you will still be

[2015-02-27 01:35] njx commented on #39
Oh yeah, I totally forgot we could just transfer the repo. If I do that right now, will it mess up your fork (since it has the same name)? Let me know when you want me to do the transfer and I'll do it.

[2015-02-28 20:11] awakekat opened #45 "Help with $PATH"
After installing the plugin I get a warning error that brackets cant find git in the path. I use ohmyzsh and am able to get to my .zshrc file to make changes but I do not know what changes to make.

echo $PATH = is 3 lines long the width of my monitor and I know that can't be right, but here it is:
/usr/local/git/bin:/usr/local/git/bin:/usr/local/git/bin:/usr/local/git/bin:/usr/local/git/bin:/usr/

[2015-03-01 21:56] albertinad commented on #45
Hi @awakekat ! Can you open a terminal and type `git --version` and paste the output here? Thanks!

[2015-03-02 03:50] awakekat commented on #45
2.2.1

[2015-03-07 03:14] albertinad commented on #13
Hi @kdmcguire , I'm can't reproduce it. I will close the issue, if you notice that this bug happens again, please re open it :)
Thanks!

[2015-03-07 03:14] #13 closed

[2015-03-10 13:27] e-cloud commented on #45
me too, ``git --version``
``// output:   git version 1.9.5.msysgit.0``

[2015-03-10 14:00] albertinad commented on #45
@e-cloud can you share the console output? Debug -> Show Developer Tools (F12) -> Console Tab
Thanks!

[2015-03-10 15:27] e-cloud commented on #45
i checked the DevTool, and found nothing about bower.
But i feel very sorry, when i restart my PC, bower extension works.
it may be because of my reinstallation for git and the lazy-updated path

[2015-03-10 20:28] awakekat commented on #45
I have restarted and I still get the error when installing Brackets Bower... When trying to install a bower package it gets stuck - obviously can't find git path...

[2015-03-10 20:34] albertinad commented on #45
Hi @awakekat , sorry for the delay on the fix, I setup an environment in mac, so I can fix this ASAP, can you share the output of console please? If there's something that can help me.

[2015-03-11 03:58] awakekat commented on #45
Hope this is what you wanted:

/thirdparty/react.js:4356 Download the React DevTools for a better development experience: http://fb.me/react-devtools
/utils/DeprecationWarning.js:90 Deprecated: Do not use $().on/off() on Brackets modules and model objects. Call on()/off() directly on the object without a $() wrapper.
    at new jQuery.fn.init (/brackets.js:481:36)
    at n (file:///Applications/Br

[2015-03-11 04:42] #29 closed

[2015-03-12 02:35] awakekat commented on #45
So here is a question... I am trying to fix my $PATH, what does yours look like? when I type 'which bower', I get /usr/local/bin/bower - so it is there but it must not be in the path for  Brackets to find. I have manually added the bower path to $PATH and it looks like this:

export PATH=/usr/local/bin:/usr/local/git/bin:/usr/local/bin/bower:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin

Is there

[2015-03-12 02:54] awakekat commented on #45
Ok it's late and I have been working at this too long. The error I am getting now is that the plugin cannot find git. I type 'which git' and get '/usr/local/git/bin/git'
and my path= '/usr/local/bin:/usr/local/git/bin/git:/usr/local/bin/bower:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin'

I have uninstalled and reinstall the bower plugin each time I have made changes to the $PATH to check if it f

[2015-03-12 13:42] albertinad commented on #45
There's no need to have bower installed on the system, because the extension provides one. I'm trying to reproduce this on my mac, today I will try to have an answer for you.

[2015-03-12 15:45] awakekat commented on #45
Tinkering some more...
So this morning I went to bower install a package in the terminal and bower couldn't find git - What the...!! So I put the default git path as the very first entry - /usr/local/git/bin
Then I was able to see the path with 'which git' but it gave me - /usr/local/git/bin/git
so I put that at the end of the path, but brackets bower is still not happy...

[2015-03-12 15:47] albertinad commented on #45
and with that change to the PATH variable, did you try to run `bower install` from the console?

[2015-03-12 16:43] awakekat commented on #45
No because with a new install of the bower plugin I got the  same error trying to find git, but I gave it a try and got this:
![screen shot 2015-03-12 at 12 42 15 pm](https://cloud.githubusercontent.com/assets/5148843/6622799/4cc658d0-c8b5-11e4-8b87-2c37b8a01d4d.png)

[2015-03-12 16:45] awakekat commented on #45
With the plugin installed, opening Brackets shows this error every time:

![screen shot 2015-03-12 at 12 44 14 pm](https://cloud.githubusercontent.com/assets/5148843/6622856/aeae052a-c8b5-11e4-91a6-abad282e6c2c.png)

[2015-03-12 18:27] albertinad commented on #45
Sorry! I mean running `bower install jquery` from a OS terminal/console.

[2015-03-12 18:30] albertinad commented on #45
The output of `echo $PATH` on the terminal of my mac is the following:
`/usr/bin:/bin:/usr/sbin:/usr/local/bin:/opt/x11/bin:/usr/local/git/bin`
and the output of `which git`:
`/usr/bin/git`

[2015-03-12 18:40] albertinad commented on #45
Can you try to modify your env PATH variable, to include this path `/usr/local/git/bin` instead of the path to the binary directly, `/usr/local/git/bin/git`. But make that change directly to the `/etc/paths`.

[2015-03-13 14:30] awakekat commented on #45
I am with you until the part: "But make that change directly to the /etc/paths." Where is that located?

[2015-03-13 22:07] albertinad commented on #45
I mean that you can try open the file `paths`, located at `/etc` (I'm not really sure if that is a common location for the file in mac no matter the version of the OS).
Another question, may be a dummy one, did you export the modified PATH variable on the terminal instance that you're running bower and git, or did you just update some file like bash_profile for your user?

Sorry to insist on this

[2015-03-13 22:17] awakekat commented on #45
Yes in my mac terminal I can type ‘bower install jquery’ and it works.

I do have a bash profile manager .zsh and the .zshrc file is the one I am using to update the path. Outside of that process I don’t know where else on a mac the PATH would be listed. I did look around for a /etc and didn’t find one even in the hidden files.

If the plugin is looking for git and can’t find it in the “normal loc

[2015-03-13 23:59] albertinad commented on #45
The extension uses node child_process.exec to run `git --version`. If that doesn't work, is not a really big problem, just improving the mechanism of detection of git would be enough. My concern is that internally, bower from the extension can't find git.
Internally, bower (provided through the extension) uses child_process.spawn to run git commands. It doesn't allow to specify the git executable,

[2015-03-14 00:09] albertinad commented on #45
And what about creating a `.bash_profile` file and there export PATH containing `/usr/local/git/bin` at first?

[2015-03-14 01:04] awakekat commented on #45
Yosemite 10.10.2

[2015-03-14 01:16] awakekat commented on #45
Did what you suggested with the .bash_profile - no dice error still pops up

[2015-03-14 03:12] albertinad commented on #45
Could you please load [this](https://drive.google.com/file/d/0B2qjL2i00DnjM3FCYlNfSl9lZmM/view?usp=sharing) version of the extension? Just in case, make sure to uninstall the previous version.
This version only add a logger to the node domain, you can try adding a bower.json file to your project, add some dependencies to install, then run install from the extension panel and wait until it fails. T

[2015-03-14 03:57] awakekat commented on #45
I manually installed and placed the contents of the zip file folder in Library/Application SupportBrackets/extensions/user

Got the error.  Used the plugin to create the bower.json and the bowerrc file

Could not find anywhere on the mac the brackets-bower.log file so here is the contents of the CDT:

NodeDebugUtils.js:117 [node-log 11:47:58 PM] [31m[2015-03-13 23:47:58.729] [ERROR] brackets-bowe

[2015-03-14 04:34] albertinad commented on #45
mmm good, just one more time, but with [this](https://drive.google.com/file/d/0B2qjL2i00Dnjam5pYkxnNWhER0U/view?usp=sharing) package. Remove manually the previous version installed, and please, before opening brackets, open a terminal and run `bower cache clean`.
After the error let me see the console output. Sorry to keep you with this, but I'm not able to reproduce it :( and I want to help you.

[2015-03-24 22:11] #42 closed

[2015-03-24 22:54] albertinad opened #46 "CLI integration"
Add CLI support through the extension. Enable the developers to execute bower commands through CLI using the provided bower instance.

[2015-03-31 08:09] thco opened #47 "Uncaught TypeError: Cannot read property [pkg_name] of undefined - on update"
Hi.

With the newest version, when I click on the update button to update a package to the latest version, I got this :

[code]

Can you take a look at this ?

Thanks !

[2015-03-31 14:06] albertinad commented on #47
Hi! sure, thanks!

[2015-04-01 16:13] albertinad commented on #47
Hi @thco , the new version of the extension with the fix for this bug is ready at the brackets registry. Please, check if the issue remains, if not feel free to close the issue :)
Thanks!

[2015-04-01 22:37] albertinad commented on #47
Closing issue, if the issue persists feel free to open it.

[2015-04-01 22:37] #47 closed

[2015-04-02 07:56] thco commented on #47
Works like a charm ! Thank you :)

I just notice that I got an notification error while update Bootstrap, for exemple. I don't think it's related to your extension btw, so let's close ! :+1: You rock

[2015-04-05 22:19] albertinad opened #50 "Update packages list UI"
* Improve packages list UI following the new design
* Enable to install missing packages

[2015-04-07 17:37] albertinad opened #51 "Support multiple brackets instances"

[2015-04-13 13:18] MartinJBates opened #52 "Doesn't detect existing bower components"
Hi,

I have existing bower components in my working folder root, but when I open the bower panel, it says no packages are installed. Shouldn't this detect already installed/existing packages? See below for a screenshot.

![image](https://cloud.githubusercontent.com/assets/4522738/7116235/e873e888-e1e7-11e4-9331-5e886a834fbc.png)

[2015-04-13 13:31] MartinJBates commented on #52
Update: if I install a package via the panel it appears in the bower.json file and at the bottom. if I uninstall it removes it from the panel and the bower.json file

[2015-04-13 13:33] albertinad commented on #52
Hi,
For the current implementation if the bower components are located at the root project, it should be able to find them. Unless, you're under lower internet connectivity, I didn't release yet the new version that fixes that. Can you share me the log file? it should be placed under your home directory, 'brackets-bower.log'

[2015-04-13 13:46] MartinJBates commented on #52
my structure is:

root (MySite)
- bower.json
- bower_components/
- node_modules/

I can't find that .log file you're requesting.

[2015-04-13 13:57] albertinad commented on #52
Ok, today I will upload a new version including those changes and then we can try again with the same project. Another question, which version of brackets-bower are you using? Did you try again multiple times to see if you can reproduce it? I can't reproduce it, only if I have low internet connectivity or bower is not working right? What can be happening is that, I use a the `list` bower command t

[2015-04-13 14:01] MartinJBates commented on #52
It says I'm using version 0.2.5. I've tried numerous times and it won't show what's within my existing bower.json file. If I install/remove via your extension then it shows in the panel/updates the bower.json file successfully.

It can also load the bower registry successfully.

[2015-04-13 14:02] albertinad commented on #52
And it says something in the Dev Tools console?

[2015-04-13 14:21] MartinJBates commented on #52
I get this in dev tools (which could be due to being behind a corporate restricted internet) but here for you to look at:

![image](https://cloud.githubusercontent.com/assets/4522738/7117465/b7614318-e1f0-11e4-8ddb-5c6a1b52b1c0.png)

[2015-04-13 14:39] albertinad commented on #52
Thanks! It confirms part of my suspicions, relate to the list command. I will research a little more on that specific error and let you know when everything is ready.
Thanks!

[2015-04-13 14:56] MartinJBates commented on #52
Okay great - no problems!

[2015-04-14 05:38] #41 closed

[2015-04-16 04:55] #50 closed

[2015-04-16 05:42] #31 closed

[2015-04-16 05:43] #30 closed

[2015-04-17 14:19] albertinad commented on #52
Hi @MartinJBates , I'm having issues uploading the extension, in the mean time, you can manually download the zip file for the latest version and manually add it to brackets,
https://github.com/albertinad/brackets-bower/releases/tag/v0.2.6

Let me know if the problem wasn't fixed.

Thanks!

[2015-04-20 07:34] MartinJBates commented on #52
Hi, this now detects the list of installed bower components successfully. Perhaps as a UI suggestion, there should be an input field to search for bower components in the bower ui where it lists the installed components or a search button?

[2015-04-20 12:30] albertinad commented on #52
Great! that input field to search would be browse the installed components or the bower registry/other registries? if you mean the last option, you can search for components using a Quick Open style interface. But, I would like to improve the search by adding an option/UI to the panel.
Thanks!

[2015-04-20 12:30] #52 closed

[2015-04-21 06:25] sander76 opened #53 "How to install : Polymer/core-list#^0.5"
Working with Polymer and trying to install some elements from Bower.
From the command line I need to type

bower install Polymer/core-list#^0.5

using "install From Bower" and typing "+Polymer/core-list" does not yield any result.
Anyone a suggestion ?

Sander.

[2015-04-22 05:49] albertinad commented on #53
Hi @sander76 ! "install from Bower" browse the Bower default registry, and it seems that the polymer component that you want is not registered at the default registry, that's the reason why you don't see any result.
You can create a bower.json file, using the bower panel actions. Then add the component like the following:
[code]
Then execute the command `install` from the panel header buttons. Thi

[2015-04-22 05:55] albertinad opened #54 "Wrong project dependencies listed after executing "install" command"
After executing the "install" command to install packages from the bower.json file, the project dependencies list contains packages that are not direct dependencies of the project but from the direct dependencies.
After refreshing the current bower directory, the project packages list is correct.

Expected: only direct project dependencies should be listed.

[2015-04-22 05:56] albertinad commented on #45
Hi @awakekat any news related to this path problem? do you still have this issue?

[2015-04-22 11:19] awakekat commented on #45
Yes, that I can duplicate the same problem on windows too.

Sent from my iPhone

[2015-04-22 13:32] albertinad commented on #45
Now windows too... ok, could you try the zip that I shared with you? If you have the time to try it, then share the CDT output so I can help you. I'm still not able to reproduce it.

[2015-04-23 19:31] #37 closed

[2015-04-27 02:43] awakekat commented on #45
I am going to close this since I seem to be the only one with this problem.

[2015-04-29 15:21] MartinJBates commented on #52
Yeah I meant by having a search field to search for new bower components directly in the UI of the panel that shows what's installed/ready to update etc as it would provide relevant access to get additional packages.

[2015-04-29 15:24] albertinad opened #55 "Search for Bower packages in the Panel UI"
- Search for packages in the panel UI
- Display a list of available packages
- When selecting one, display detailed information
- Enable to choose the version to install from a list of available options
- Enable to install as a production or development dependency
- When the package is already installed, enable to updated to the selected version

[2015-04-29 15:26] albertinad commented on #52
Great! I created an issue for that #55 Since the other issue was related with QuickInstall feature. Thanks! That would be a great improvement.

[2015-04-29 15:28] albertinad opened #56 "Display detailed information for installed packages"
- current state (installed, missing, extraneous as it is right now)
- home page
- keywords
- dependencies list
- available versions to update/install

[2015-04-29 20:57] eappell commented on #45
Sorry, but I'm having the same issue in Windows 7, and I can't find anywhere else where this is mentioned so I'm going to add a comment here.  Hopefully it will get seen even though this is closed...?

When I open Brackets I get the same big error saying "Git wasn't found on your system".  I've checked my PATH and git is definitely in there, and when I run `git --version` I get `git version 1.9.5.

[2015-04-29 21:07] albertinad commented on #45
Hi @eappell , I'm re-opening this issue since it seems that can be a common problem.
Please, can you try [this](https://drive.google.com/file/d/0B2qjL2i00Dnjam5pYkxnNWhER0U/view) version of the extension? Before, remove the current installed version.
Try to perform the same steps to reproduce the error message. Then, create a bower.json file for your project, add one dependency and then click on `

[2015-04-29 21:33] eappell commented on #45
Hi @albertinad - As I mentioned, I cannot uninstall the extension using the extension manager in Brackets, as it gives me the error.  So I moved the extension folder from user to disabled, then restarted Brackets.  What I found was that I still cannot update any extensions.  Also, I cannot install any new extensions.  So I believe my extension manager has become corrupted.  I did drop the new vers

[2015-04-29 21:39] albertinad commented on #45
It sounds like a brackets problem, but let try a few things!:
1) If you don't have a bower.json file, create one using the bower extension panel
2) Install some dependencies through that file
3) Find the `brackets-bower.log` file and share to me so I can read the logs.
The main reason that I want you to install a bower dependency, is to know if bower is able to spawn git. If that is not the case,

[2015-04-29 21:54] eappell commented on #45
Ok, the issue I was having is that my proxy server was enabled (I'm in Windows 7) and Brackets couldn't get through it for anything.  As soon as I disabled it everything started to work again.  I was able to update my extensions, and I did add a bower.json file to the project, and all of the dependencies that I added were installed without issue.

I would post the log file, but I can't find it any

[2015-04-29 22:08] albertinad commented on #45
Ahh I see! Still, I will improve that warning message from bower extension.
I believe, that you can found the log file location in brackets CDT. When the extension is loaded and the node domain connection from the extension is ready, at that point, the location of the file might be logged in the CDT output. Sorry for that!, it was a quick/dirty implementation so I can get information from the node

[2015-04-30 03:42] mfromin opened #57 "Error in Show Developer Tools"
When Brackets starts I see this:

![screen shot 2015-04-29 at 9 41 13 pm](https://cloud.githubusercontent.com/assets/2193139/7406004/a36b1be8-eeb8-11e4-9961-299e4fb0d772.png)

Any idea why I get this and how I can make it stop?

[2015-04-30 17:30] albertinad commented on #57
Hi, that is a problem related with permissions to create the extension log file.
It is removed and fixed in the new version of brackets-bower extension. I'm having issues uploading it to the brackets registry but you can manually download the [latest](https://github.com/albertinad/brackets-bower/releases/tag/v0.2.6) release zip file and drag it to the extension manager dialog to update it.

Thanks

[2015-04-30 17:37] mfromin commented on #57
I deployed it and get the same error:

To deploy I just deleted the old extension and copied the folder to the extensions directory and named the folder `brackets-bower`.

--Michael

[2015-04-30 17:42] albertinad commented on #57
You're right! give me a couple of minutes and I will released a new version with the fix.
Sorry!

[2015-05-02 17:25] #53 closed

[2015-05-02 18:05] albertinad commented on #57
Hi @mfromin , [this](https://github.com/albertinad/brackets-bower/releases/tag/v0.2.7) is the latest version of the extension, without the log error and a proper error handling.

Thanks!

[2015-05-02 23:27] albertinad commented on #57
Closing issue, feel free to re-open it if the log error persists.

[2015-05-02 23:27] #57 closed

[2015-05-03 00:14] #54 closed

[2015-05-04 13:52] shaneparsons opened #58 "Feature Request: Use bower.json outside of root"
Just thought it'd be great to be able to use / point to the bower.json from a **sub-directory**

**(ex. src/ bower.json)**

As it stands now, doing so just leads to a **bower.json not found!**

[2015-05-04 14:13] albertinad commented on #58
Hi @shaneparsons ! That feature is implemented in the last version. I'm having issues to uploading it to the brackets registry, but you can manually (download)[] it and drag it to the extension manager (or unzip it to the brackets extensions users folder).
By default, the extension will take as current working directory, your current project root path, to change it you just need to go to the proje

[2015-05-04 14:57] shaneparsons commented on #58
Perfect, works great!

[2015-05-04 14:57] #58 closed

[2015-05-04 22:43] ravibharathii opened #59 "Brackets-bower while installing dependecies not considering .bowerrc file directory property, always installing dependencies in bower_components folder"
Brackets-bower installing dependencies always in bower_components folder,even though there is a.bowerrc file and entry for directory property .

My .bowerrc file at the root of my project looks like
{
    "directory": "lib",
    "proxy": "http://http.proxy.xxx.com:yyyy",
    "https-proxy": "https://http.proxy.xxx.com:yyyy"
}

I tried bower install command through command line, it worked.

[2015-05-05 02:15] albertinad commented on #59
Hi @ravibharathii , I'm having issues uploading the extension to brackets registry. This bug must be fixed already in (this)[https://github.com/albertinad/brackets-bower/releases/tag/v0.2.9] version. Please, download it and add it manually to brackets. Let me know if this bug persists.

Thanks!

[2015-05-07 14:18] albertinad opened #60 "Keep bower commands execution in a queue"
Bower commands should be executed one at a time, and keep all bower commands request in a queue.
Execute all of them one at a time.

[2015-05-08 22:28] albertinad commented on #45
Hi @awakekat , if the issue is still there, can you try the (latest)[https://github.com/albertinad/brackets-bower/releases/tag/v0.2.9] version available? If the git warning shows up or not, try to install something from the bower.json, if it fails, you should see an error dialog with detail explanation.
I'm wondering, if you have installed also brackets-git extension and when you open brackets an

[2015-05-08 22:32] albertinad commented on #45
In the case of windows, the [recommendation](https://github.com/bower/bower#windows-users) from bower team, is to install it with the option `Run Git from the windows command prompt`

[2015-05-09 04:20] albertinad opened #61 "Missing and extraneous packages are not listed"
Add an API to parse and get packages instances without forcing the validation with the bower.json file dependencies and devDependencies.

[2015-05-09 05:02] #61 closed

[2015-05-11 14:12] awakekat commented on #45
I manually installed the contents of the zip into the Mac: Library > Application Support > Brackets > user folder

Here are the lines in my .zshrc file:

export PATH=/usr/bin:/bin:/usr/sbin:/usr/local/bin:/opt/x11/bin:/usr/local/git/bin

These other attempts are commented out:
#export PATH=/usr/local/git/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin:/usr/local/git/bin/git
#expor

[2015-05-11 15:20] albertinad commented on #60
Only commands that modifies the file system, not the ones that gets information, are kept in a queue.

[2015-05-11 15:26] #60 closed

[2015-05-14 18:30] ravibharathii commented on #59
Thanks for the reply . It worked for me after updating the plugin.
On Mon, May 4, 2015 at 8:15 PM Albertina Durante <notifications@github.com>
wrote:

[2015-05-15 01:56] albertinad commented on #59
Great! closing the issue.

[2015-05-15 01:56] #59 closed

[2015-05-15 01:57] albertinad opened #62 "Packages loaded always listed as production dependencies."
Regression after PackageFactory refactoring.

[2015-05-15 02:17] albertinad commented on #62
Fixed in version 0.2.11

[2015-05-15 02:17] #62 closed

[2015-05-19 19:50] albertinad opened #63 "Manually editing bower.json dependencies should updated BowerProject"
Update the ProjectModel when manually editing the bower.json file for dependencies and devDependencies.
Those changes should be propagated to the UI also.

[2015-05-21 20:36] albertinad commented on #63
Implementation ready at master branch.

[2015-05-21 20:36] #63 closed

[2015-05-23 06:43] albertinad opened #64 "Update Project and Package models"
- Keep track of project packages dependencies
- Update bower commands results parsers
- Adding a project package depency as project dependency should update the Project and Package models
- Do not display non project direct dependencies in the panel

[2015-05-23 06:48] albertinad opened #65 "Project and packages synchronization"
Enable the following option to keep the project in sync with the defined dependencies in the bower.json file if any:
* install missing packages: packages defined in bower.json as dependency or devDependency but not available in the bower_components folder
* track extraneous packages: packages installed in bower_components folder but not defined in the bower.json file
* apply all: install missing p

[2015-05-24 12:10] awakekat commented on #45
Finally Good News!! I got brackets-bower to work on Windows! I followed these instructions: http://www.chambaud.com/2013/07/08/adding-git-to-path-when-using-github-for-windows/
and I didn't get the error. Now on to do the same for Mac since I use it every day.

[2015-05-25 20:05] #64 closed

[2015-05-25 20:31] albertinad opened #66 "Include folder installation dir in Package model"
The folder path where the package was installed should be included as part of the Package model.

[2015-05-25 23:08] #66 closed

[2015-05-26 23:00] albertinad commented on #45
Great news!! :D do you have any updates related on Mac?
Thanks!

[2015-05-28 00:02] awakekat commented on #45
Nope not yet. It probably has taken me this long to ask the right question. Where does Brackets look for PATH - what is the name of the file that Brackets is looking for to find the path to git? I think that is my problem since I am using OhMyZSH and iTerm. I am controlling my PATH through a .zshrc file and have located the path to git /usr/local/git/bin/git from typing 'which git'. I have added t

[2015-05-28 04:54] infin80 commented on #45
FYI...I'm following this like it's a nail-biting thriller. I'm having the same Yosemite 10.10.3 Mac issues and I'm dying to see how this plays out!!!! BTW my `which git` returns `/usr/local/bin/git` if that helps anyone

[2015-05-29 03:17] awakekat commented on #45
I found this article which may or may not help: http://www.sublimelinter.com/en/latest/troubleshooting.html#debugging-path-problems

But it did send me digging again. So I typed 'echo $SHELL' and got /bin/zsh. By the article I went to see the contents of .zprofile which said 'echo profile'.

I went to both .profile and .bash_profile that had the wrong git path for me - changed both and still getti

[2015-05-30 05:53] albertinad commented on #38
Closing, this is is tracked in #55

[2015-05-30 05:53] #38 closed

[2015-06-02 13:25] shaneparsons commented on #56
You've probably already thought of this, but it would be nice if clicking the new version icon could link to a changelog or the plugin's github page, just so we know if it's worth updating or not.

[2015-06-09 19:15] albertinad opened #67 "Packages versions and latest version is lost after any command execution"
Installing, updating and pruning packages make latest version and versions from packages to not be available anymore.

[2015-06-11 21:50] albertinad commented on #67
Do not expose available versions as part of Package model, only as a property of PackageInfo.

[2015-06-13 00:42] #67 closed

[2015-06-13 05:43] #65 closed

[2015-07-01 03:21] MagicLo commented on #45
I have the same issue with my Yosemite 10.10.3, any luck?

[2015-07-01 05:08] awakekat commented on #45
No luck yet. I have given up and just use the terminal. Please post if a solution arises.

Thanks

[2015-07-02 02:14] MagicLo commented on #45
My issue solved:
1.Delete bower.json
2.Follow this article : http://nielsvanrongen.com/bower-exit-code-of-69.html
3.Rerun Brackets

I hope it help.

[2015-07-07 20:08] albertinad opened #68 "Improve parsing of installed and updated packages"
bower.json content and file system changes may not be ready after the execution of bower install and update commands. Relying on bower.json content ready for creating the Package models from the raw data is not safe and can produce a bad model:
- Package bowerJsonVersion could be null when it has a valid semver value
- Package dependencyType could be default production when it is developmet (has a

[2015-07-07 20:13] albertinad opened #69 "Uninstalling packages and bower.json file system changes leave the BowerProject model in an inconsistent state"
When uninstalling a package that is already in the bower.json, it is removed from bower_components folder and from bower.json (dependencies or devDependencies), then after the operation is completed, the model is updated. The BowerProject model listens to file system changes for the bower.json file, and start comparing to determine changes.
File system changes when the uninstalling process has not

[2015-07-11 03:21] #68 closed

[2015-07-11 20:29] #69 closed

[2015-07-20 14:36] albertinad opened #71 "Improve bower.json file changes"
Keep track of bower.json file timestamp to process/discard external/internal file changes.
[New approach](https://github.com/albertinad/brackets-bower/pull/70#issuecomment-121365793)

[2015-07-23 13:45] awakekat commented on #45
Not the problem. xcode already agreed to. Still have this same error on 3 different macs:
git issue
![screen shot 2015-07-23 at 9 43 22 am](https://cloud.githubusercontent.com/assets/5148843/8851766/7ebc699c-311f-11e5-9f33-e54fc91d6e16.png)

[2015-08-20 02:56] albertinad opened #73 "Validate Package and PackageInfo data model generation"
Validate data model types, supporting cases where bower.json file doesn't follow the spec, without assuming that data types are always as specified.

https://github.com/bower/bower.json-spec

[2015-08-20 04:08] albertinad opened #74 "Display an error message when bower.json is malformed"
- In BowerJson model, reject the promise with an specific error code when JSON.parse throws an exception indicating that the bower.json file is malformed.
- Notify developera about the malformed bower.json file.

[2015-08-20 12:37] #73 closed

[2015-08-20 19:10] #74 closed

[2015-08-24 14:09] albertinad opened #75 "Improve error handling"
* Add messages for the users, according to the error code, with i18n support.
* When the error is raised, add the internationalised message.

[2015-08-24 15:50] #75 closed

[2015-09-02 10:08] MrRafalSzymanski opened #76 "Bower for Brackets does not install packages"
Hi,

I've ecnountered an issue which I thought was caused by your extension.
I'm using Brackets on Windows with Git properly installed and added to PATH but whenever I tried to install a bower package all I got was: "Failed to install X" (X is the name of the package).

So, I installed bower seperately and checked for errors and I got:

Unfortunately your extension does not display this message ab

[2015-09-06 01:27] albertinad commented on #76
Hi @MrRafalSzymanski  thanks for reporting this. I'm improving the error messages for the users. I will take this situation into account and display more information about how to configure git when this error happens.

[2015-09-18 19:31] eip commented on #45
On OS X 10.10 having similar problem with Brackets Shell extension (https://github.com/johnhidey/hdy.brackets-shell/).

With "echo $PATH" command found that PATH variable inside Brackets environment differs from OS shell. Its set to "/usr/bin:/bin:/usr/sbin:/sbin" and does not include "/usr/local/bin" directory.

I temporary fixed it by adding this code:

[code]

to the "/Applications/Brackets.app

[2015-10-09 04:32] #51 closed

[2015-10-09 04:36] albertinad opened #77 "Adding a valid bower.json to a project doesn't propagate the changes"
When a project doesn't have any bower.json file, and a new one that has content defined is added, the changes are not propagated to the object models.

[2015-11-13 19:19] stacyk commented on #45
I have had this same problem for a while now as well running on a Mac with OS X Yosemite (10.10.5), using ZSH instead of Bash. Hoping to check some of these links out to find a solution. I'll post my results.

[2015-11-13 19:22] albertinadx commented on #45
Hi @stacyk thanks for helping! I have an available Mac now with OS X Yosemite (but lateste version 10.11.1), I will set up my environment and instead of using Bash I will use ZSH so I can try to reproduce it.

[2015-11-13 19:24] albertinad commented on #45
Hi! thanks for helping! I have an available Mac now with OS X Yosemite (but lateste version 10.11.1), I will set up my environment and instead of using Bash I will use ZSH so I can try to reproduce it.

[2015-11-19 04:18] albertinad opened #79 "Update Bower to version 1.6.5"
Update to the current latest version.

[2015-11-19 04:52] #79 closed

[2015-11-21 02:00] JKAussieSkater opened #80 "Bower Warning: Git wasn't found on your system"
Firstly, lets establish that I have no 3rd party command-line software installed on my Mac (OS X 10.11.1 El Capitan). i.e. No NPM, no Node.js, no Bower, no Git, nothing.

I've freshly installed Brackets, and the first thing I do is click on:
`File » Extension Manager... » Brackets Bower » Install`

Then I get the following warning message:

So I remove the extension, and proceed to install [Git fo

[2015-11-25 23:30] JKAussieSkater commented on #80
Sorry to be a drag on this issue, but I was hoping you might be able to help me out with it.
So far, I have tried to look through your source code, but I can't find where your code looks for Git at the system PATH.
I've noticed that in [Brackets Git](https://github.com/zaggino/brackets-git) (which you may be familiar with) this code is used:

##### [brackets-git/src/utils/Setup.js](https://github.

[2015-11-26 02:00] albertinad commented on #80
Hi @JKAussieSkater, I'm familiar with the brackets-git extension, but how we handle git is different for both extensions. Brackets-git executes git, but brackets-bower extension, executes directly bower, and it is bower that executes git with the assumption that it is available at the system PATH.
This is the module that checks for git in the system path in order to raise an error when it is not f

[2015-11-26 02:29] JKAussieSkater commented on #80
Thank you @albertinad!
Apart from the error message, Brackets Bower appears to have been installed successfully; however when I try to install a package, clicking install appears to fail:

![bower unknown error](https://cloud.githubusercontent.com/assets/12983913/11413708/6ec4cb90-9440-11e5-88eb-4713defb1560.png)

Additionally, when I attempt to install jQuery via Bower (`File » Install from Bower

[2015-11-26 03:48] albertinad commented on #80
@JKAussieSkater can you execute some steps to help me get more information about the error and root cause?
I've recently upload a pre-release version of the extension, it is not available in the extensions registry so you need to manually install it on brackets. Please, first download the zip file from this link: https://github.com/albertinad/brackets-bower/releases/tag/v0.2.15-pre

Then uninstall

[2015-11-26 04:16] JKAussieSkater commented on #80
Okay, I just attempted to use jquery as a dependency via `"dependencies": {"jquery": "~2.1.0"}`. I figure I'll put the entire log here just in case:

 Download the React DevTools for a better development experience: http://fb.me/react-devtools
/utils/DeprecationWarning.js:90 PreferencesManager.convertPreferences() has been deprecated. Please upgrade to the current Preferences system (https://githu

[2015-11-26 14:12] albertinad commented on #80
Thanks! Now I can see what is happening. So, my understanding, please forgive my lack of advanced knowledge on Mac, I'm new to the platform, is that git and some dev tools seems to be broken.
Did you accept some license, terms and conditions to use git?
Since git and some dev tools heavily depends on Xcode, you need to use Xcode dev tools to configure them, or accept terms and conditions, I believ

[2015-11-26 14:15] albertinad commented on #80
Issue related #45

[2015-11-26 18:33] albertinad commented on #80
Sorry! I closed it by mistake. Re open it.

[2015-11-26 18:34] albertinad commented on #45
Hi @stacyk , can you please follow the steps in the issue #80 , with the pre-release version of the extension and share the logs?

Thanks!

[2015-11-26 22:49] JKAussieSkater commented on #80
So, when I look in my home directory (I've configured Finder to show hidden .* files), there is no .bash_profile file. I guess some Macs don't have it. So I didn't worry about this step.

Unfortunately I didn't try the method where it wasn't necessary to install Xcode (`alias git="/usr/local/git/bin/git"`).

However, doing what you first said, `xcode-select --install`, brought up the following dia

[2015-11-27 00:20] JKAussieSkater commented on #80
As a suggestion, perhaps the "Git wasn't found on your system" error message could identify if Brackets is running on Mac OS X, and if so, suggest to install Xcode Command Line Tools to resolve the issue.

By the way, should I revert to the "official" release of the Brackets Bower extension, or should I continue to use the special version?

[2015-11-27 04:39] albertinad commented on #80
Great! I'm really happy that we found the root cause! I guess this is related with an old issue that I have related to git. Thank you very  much for your time and helping me with this!

You can use the pre-release if you want, in the following days I will be releasing the new version. :)

Thank you for your suggestion, definitely I must improve the error messages, and also I would like to show the

[2015-12-02 12:58] robbyakasipradana commented on #80
just install "NodeJS" and bower is working

[2015-12-02 13:00] albertinad commented on #80
Bower does not require NodeJS to be installed. The only dependency on the system is Git.

[2015-12-02 13:00] #80 closed

[2015-12-03 03:08] JKAussieSkater opened #81 "Prevent accidental installation of a package"
When you attempt to install a package (`File » Install from Bower...`), the Bower Registry loads, and AutoFill suggestions appear just below the textbox:

Before the AutoFill suggestions appear, Brackets indicates that it is "Loading Bower Registry . . ." (or similar message). This can take a while, so let's assume you decide to edit your code whilst you wait for the Bower Registry to load: You at

[2015-12-03 03:24] JKAussieSkater opened #82 "Problem with "Time to reload Bower registry" setting"
Under `Bower Settings » Time to reload the Bower registry (m)`, you can fill in the number of minutes before the Bower registry cache is refreshed.

I set my value to `10080` (i.e. 168 hours / 7 days).

However, this value doesn't seem to be respected after closing and relaunching Brackets, or perhaps the cache is lost upon closing Brackets.

This is a problem because I like to shutdown my compute

[2015-12-11 12:19] erknrio opened #83 "enhancement: Install only production packages"
Is there any option to install only production packages? If not, can you add one please?.

[2015-12-12 02:20] albertinad commented on #82
Hi @JKAussieSkater, the time to reload registry settings is valid only when brackets starts, once you the process ends, and start again, the registry will be always reload, no matter the specified time. The cache is in-memory, and it is not intended to be used with such long time.
You have a really good point and use case, so this is a good improvement to implement.
Thanks!

[2015-12-12 02:23] albertinad commented on #81
I like the option 2! And in the dialog to confirm or cancel the installation, more detail about the package to install could be displayed.

[2016-01-08 08:58] JKAussieSkater opened #84 "Error loading domain "bower": timeout"
When launching Brackets, provided my computer is performing a few CPU tasks, it can launch slowly. It seems that when Brackets launches slowly, the Bower extension fails to load properly, and an error message appears (I will include it here for search engine purposes):

Whilst in this state (i.e. without acknowledging the `[close]` button), I check out the Brackets developer tools, here is the con

[2016-01-09 04:54] #77 closed

[2016-01-10 04:43] JKAussieSkater commented on #82
@albertinad, I was going to have a try at coding this myself!

I'm having trouble trying to identify which file actually retrieves the Bower database.

[I had a look here](https://github.com/albertinad/brackets-bower/blob/master/src/QuickInstall.js#L178), which at first appeared to be the code which does this. But upon further inspection, it seems like [this code](https://github.com/albertinad/bra

[2016-01-18 14:33] albertinad opened #85 "Update Bower to version 1.7.2"
Update to latest stable version.

[2016-01-18 14:44] #85 closed

[2016-01-18 15:44] albertinad opened #86 "Update license to Intel license."
Update new files created after the transition of the extension, to use Intel license.

[2016-01-18 20:00] #86 closed

[2016-02-03 10:31] JKAussieSkater commented on #83
Just to clarify your meaning:
* You want an option to install ALL "dependencies", but do NOT install any "devDependencies" in the `bower.json` file?

Just to further clarify:
* Are you talking about _your_ project's root `bower.json` file?
* Are you talking about the dependencies your project downloads into the `/bower_components/` folder?

[2016-02-03 10:37] JKAussieSkater opened #87 "Feature request: Option for QuickInstall to add packages to bower.json as "devDependencies" by default"
Most of my Bower packages are simply "devDependencies", which won't make their way into the final distribution of my software.

It would be convenient if brackets-bower added my packages to the `bower.json` file under the "devDependencies" property instead of the "dependencies" property.

This is a request for an option to specify QuickInstall to download packages as "devDependencies" by default.

[2016-02-05 04:07] albertinad commented on #55
Related issues:
#87

[2016-02-05 04:44] albertinad commented on #56
Included in #55

[2016-02-05 04:57] albertinad commented on #82
Hi @JKAussieSkater, thanks!!
I'm planning to remove QuickInstall functionality in favor for a better search and filter functionality that will take place in the panel UI. With this change, how the search is done will change also. QuickInstall keeps an in-memory cache for the time defined in the setting, and that keeps in the context of the QuickInstall module. The function that you referenced in y

[2016-02-08 13:30] erknrio commented on #83
Sorry, I try to clarify with an example (bootstrap):

In my current project into the /bower_components/ folder it install the folders: js, less, nuget, grunt and fonts but in a production environment I only need de "dist" folder. If we have an option to choose between dev and production dependencies we can save a lot of hdd space.

I try to explain it better but english is not my mother language :

[2016-02-08 14:28] JKAussieSkater commented on #83
Oh, I see what you're saying!

Unfortunately, what you're asking isn't possible. I'll try to explain why:
* When a developer creates a software package, (for example: Bootstrap)
* They may choose to release that package with Bower
  * To release with Bower, they must create their own `bower.json` file
    * `bower.json` is what instructs Bower (or in our case, `bower.json` instructs Brackets-Bower

[2016-02-10 16:21] erknrio commented on #83
Perfect. I thought that bower had a option to download only production package (dist for example) but I see that this option doesn't exists yet :-(.

Thank you very much for your patience and explanations. Close this issue :-).

[2016-02-18 10:15] erknrio commented on #21
Hello Albertina,

There is any option to load registry on demand? For example: first time loading take a lot of time. If I want to install bootstrap, jquery etc. I don't need all the registry. Maybe, you can make an AJAX call to get this packages without loading all the registry.

Sorry for my english :(.

[2016-02-26 13:06] jfrimann commented on #80
Hi @albertinad
Following the instructions above, did not do it for me :-( I still get the same warning about the extension couldn't find Git at the system PATH. Any other suggestions?

[2016-02-26 13:12] JKAussieSkater commented on #80
@jfrimann, perhaps, if you've done all of the above, you're experiencing a _completely different problem_ which unfortunately shares the same error message: Issue #84

Go there, and try the suggested workaround to see if that resolves the issue for you.

[2016-02-26 13:24] jfrimann commented on #80
Thanks for the tip @JKAussieSkater
However, it didn't do either. Tried reloading 10 times. Same result every time. Used the Brackets dev tools to check the console output but I don't get the same timeout warning as you did :-(

[2016-03-28 19:30] MegaApuTurkUltra commented on #84
Or, brackets-bower could just check for git on install and assume it doesn't disappear.

I ended up commenting out the check in `GitUtils` and replacing it with an immediate `deferred.resolve()`

[2016-06-10 22:53] fdbozzo opened #88 "Bower Warning: Git wasn't found on your system"
Hi:

I'm using **Brackets 1.7** on **Ubuntu 14.04** with brackets-bower extension version **0.2.13** (included)

If I query for "git --version", i get:
**git version 1.9.1**

If I query for git location with "which git", I get:
**/usr/bin/git**

And I've checked that this directory IS on the PATH, so...

Why is Brackets saying that can't found git on the PATH?

Thanks.-

[2016-06-18 09:02] fdbozzo commented on #88
Ok, they have fixed on main Brackets, so redawnloading Brackets 1.7 and reinstalling, the issue is solved.

Thanks!

[2016-06-18 09:02] #88 closed

[2016-08-21 11:36] ghost opened #89 "Git wasn't found on your system"
Hi,
I'm using the last version of Brackets (fresh install) with the last version of brackets-bower on Windows 10. My path is correctly configured and i can call git --version via the command console.
However, I get the "Git wasn't found on your system" at each startup of Brackets.
The errors in the console are the following:
`/utils/NodeDomain.js:148 [NodeDomain] Error loading domain "bower": Unab

[2017-05-18 07:29] sezginruhi commented on #89
https://github.com/albertinad/brackets-bower/issues/84